<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <!-- Shared config group (not a payment method itself) -->
            <antom>
                <active>0</active>
                <environment>sandbox</environment>
                <payment_action>authorize_capture</payment_action>
                <debug>0</debug>
                <sort_order>10</sort_order>
                <cc_active>1</cc_active>
                <googlepay_active>0</googlepay_active>
                <googlepay_button_color>default</googlepay_button_color>
                <googlepay_button_type>buy</googlepay_button_type>
                <applepay_active>0</applepay_active>
                <applepay_button_color>black</applepay_button_color>
                <applepay_button_type>buy</applepay_button_type>
                <hosted_active>0</hosted_active>
            </antom>
            <antom_cc>
                <active>0</active>
                <model>AntomCcFacade</model>
                <title>Credit or Debit Card</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <sort_order>10</sort_order>
            </antom_cc>
            <antom_googlepay>
                <active>0</active>
                <model>AntomGooglePayFacade</model>
                <title>Google Pay</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <sort_order>20</sort_order>
            </antom_googlepay>
            <antom_applepay>
                <active>0</active>
                <model>AntomApplePayFacade</model>
                <title>Apple Pay</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <sort_order>30</sort_order>
            </antom_applepay>
            <antom_hosted>
                <active>0</active>
                <model>AntomHostedFacade</model>
                <title>Hosted Payment</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <sort_order>40</sort_order>
            </antom_hosted>
        </payment>
    </default>
</config>
